// For some reason fontawesome only works if it's imported here: it's not automatically imported as it should,
// and it doesn't do anything when added to the "css" property of nuxt config (also this issue is only when
// using `nuxt generate`, everything is imported automatically in dev apparently)
@import "@fortawesome/fontawesome-svg-core/styles.css";

@import "vue-slider-component/dist-css/vue-slider-component.css";
@import "vue-slider-component/theme/default.css";
@import "vue-multiselect/dist/vue-multiselect.min.css";

body {
  background-color: rgb(20, 23, 33);
  box-shadow: inset 0 0 8rem 1rem black;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  color: white;
  // See https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element#answer-1939980
  overflow: auto;
  overflow-x: hidden; // Shouldn't be useful but for some reason body gets too wide
}

h1 {
  font-family: "Roboto Thin", Arial, sans-serif;
}

h2, h3 {
  font-family: "Roboto Light", Arial, sans-serif;
}

.help-question {
  font-size: 1.5rem;
  color: grey;
  cursor: help;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.modal {
  color: black;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.main-tabs {
  background-color: rgba(43, 72, 168, 0.2);

  .card-header {
    a {
      color: white;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  .card-header, .tab-content {
    border: 1px solid white;
  }

  .tab-content {
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;

    .tab-pane.card-body {
      padding-bottom: 0
    }
  }
}
